@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-spinner {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinner {
    -moz-appearance: textfield;
  }
}